<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <script defer src="/static/js/controls.js"></script>
</head>
<body>

<form method="post" action="/test">
    <div>
        <label>
            Number of steps in generated test = <span id="steps-indicator"></span>
            <input id="steps-control" type="range" value="5" min="1" max="20">
        </label>
    </div>

    <div>
        <button type="submit">Start test</button>
    </div>
</form>



</body>
</html>
