<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scenario created</title>
    <script src="/js/scenarios/scenario-watch.js" defer></script>
</head>
<body>

<h1>Success</h1>

<p>Generated workflow was successfully submitted.</p>

<ul id="workflows-list"></ul>

<div>
    <a href="{{ .Link }}">See workflow progress</a>
</div>

<div>
    <!--suppress HtmlUnknownTarget -->
    <a href="/scenarios/create">Go back to scenarios page</a>
</div>

<div>
    <a href="/">Go back to home page</a>
</div>

</body>
</html>