<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scenario created</title>
</head>
<body>

<h1>Success</h1>

<p>Generated workflow was successfully submitted.</p>

<div>
    <a href="/scenarios">Go back to scenarios page</a>
</div>

<div>
    <a href="/">Go back to home page</a>
</div>

</body>
</html>