<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<h1>Resources</h1>

<ul>
    <li><!--suppress HtmlUnknownTarget -->
        <a href="/scenarios/create">Scenarios</a>
    </li>
</ul>

</body>
</html>
